.btn{
    background: transparent;
    color: aliceblue;
    padding: 10px;
    border: 2px solid aliceblue;
    border-radius : 10px;
    margin-top: 29px;
    font-weight: bolder;
    cursor: pointer;
}

.btn:hover{
    color : aliceblue;
    background-color: #010b28;
    transform: translateY(-7px);
    transition-duration: 0.5s;
}
